body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.plans {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.plan {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    width: 200px;
}

.plan h2 {
    margin-top: 0;
}

.plan button {
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.plan button:hover {
    background-color: #ff3e3e;
}
